{{extend 'layout.html'}}
<div class="container">
{{if auth_logged_in:}}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Your most recent trades</h3>
        </div>
        <div class="panel-body">
        {{for trade in trades:}}
            <div class="col-md-4">
                {{print_trade(trade)}}
            </div>
        {{pass}}
        {{if len(trades)==0:}}
            No trades to display :(
        {{pass}}
        </div>
    </div>
{{else:}}
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="{{=URL('static', 'images/carrousel_placeholder.jpg')}}" alt="Chania">
            </div>

            <div class="item">
                <img src="{{=URL('static', 'images/carrousel_placeholder.jpg')}}" alt="Chania">
            </div>

            <div class="item">
                <img src="{{=URL('static', 'images/carrousel_placeholder.jpg')}}" alt="Flower">
            </div>


            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
{{pass}}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Most recent items</h3>
        </div>
        <div class="panel-body">
        {{for item in newest_items:}}
            <div class="col-md-4">
            {{print_object(item, show_owner = True)}}
            </div>
        {{pass}}
        </div>
    </div>
</div>