<!-- This is for an individual collection, not multiple collections -->
{{def print_collection(col, size =-1):}}
<div class="panel panel-default ">
    <div class="panel-heading">
        <a href="{{=URL('collections', 'show', args=col.id)}}" class="object-name">
            {{= col.name }}
        </a>
    </div>
    <div class="panel-body  alert-warning">
            <div class="container">
            {{owner = col.owner()}}
                <div class="row">
                    <span class="glyphicon glyphicon-user object-icon"></span>
                    <a href="{{=URL('collections', 'index', args=owner.id)}}">
                    {{=owner.username}}
                    </a>
                </div>
                <div class="row">
                    <span class="glyphicon glyphicon-folder-open object-icon"></span>
                    {{=size}}
                </div>
            </div>
    </div>
    <div class="panel-footer">
        <div class="btn-group btn-group-xs" role="group" aria-label="Object Actions">
            <!-- TODO: Contextual Actions -->
            <a
                class="btn btn-default"
                href="{{=URL('collections', 'show', args=col.id)}}"
                data-toggle="tooltip"
                title="View">

                <span class="glyphicon glyphicon-eye-open"></span>
            </a>

        </div>
    </div>
</div>

{{return}}
