{{def print_collection(col, size =-1):}}
<!-- This is for an individual collection, not multiple collections -->
<div class="panel panel-default ">
    <header class="panel-heading">
        <a href="{{=URL('collections', 'show', args=col.id)}}" class="object-name">
            {{= col.name }}
        </a>
    </header>
    <div class="panel-body alert-warning">
        <div class="collection-preview">
        {{owner = col.owner()}}
            <div class="row">
                <span class="glyphicon glyphicon-user object-icon" aria-hidden="true"></span>
                <span class="sr-only">Username</span>
                <a href="{{=URL('collections', 'index', args=owner.id)}}">
                    {{=owner.username}}
                </a>
            </div>
            <div class="row">
                <span class="glyphicon glyphicon-folder-open object-icon" aria-hidden="true"></span>
                <span class="sr-only">Items in collection</span>
                {{=size}}
            </div>
        </div>
    </div>
    <footer class="panel-footer">
        <div class="btn-group btn-group-xs" role="group" aria-label="Object Actions">
            <!-- TODO: Contextual Actions -->
            <a
                class="btn btn-default nav-collections"
                href="{{=URL('collections', 'show', args=col.id)}}"
                data-toggle="tooltip"
                title="View">

                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> View collection
            </a>

        </div>
    </footer>
</div>

{{return}}
