{{def print_collections(collections, show_privacy = False, show_owner = True, show_edit = False):}}
<table class="table table-hover">
    <thead>
    <tr>
    {{if show_privacy:}}
        <th class="col-md-1">
            Privacy
        </th>
    {{pass}}
        <th>Name</th>
    {{if show_owner:}}
        <th>Owner</th>
    {{pass}}
    <th>Items in Collection</th>
    <th>

    </th>
    </tr>
    </thead>
    <tbody>
    {{for collection in collections:}}
    <tr>
    {{if show_privacy:}}
        <td class="text-center">
        {{if collection.private:}}
            <span
                class="glyphicon glyphicon-lock"
                data-toggle="tooltip"
                title="This Collection is Private."></span>
        {{pass}}
        </td>
    {{pass}}
        <td>
            <a href="{{=URL('collections', 'show', args=collection.id)}}">
            {{=collection.name}}
            </a>
        </td>
    {{if show_owner:}}
    {{owner = collection.owner()}}
        <td>
            <a href="{{=URL('collections', 'index', args=owner.id)}}">
            {{=owner.username}}
            </a>
        </td>
    {{pass}}
        <td>
        {{=len(collection.objects())}}
        </td>
        <td>
            <div class="btn-group" role="group" aria-label="Collection Actions">
            <a href="{{=URL('collections', 'show', args=collection.id)}}" class="btn btn-default btn-sm" role="button">
                <span class="glyphicon glyphicon-eye-open middle"></span>
                View
            </a>
            {{if show_edit:}}
                <a href="{{=URL('collections', 'edit', args=collection.id)}}" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-edit middle"></span>
                    Edit
                </a>
            {{pass}}
            </div>
        </td>
    </tr>
    {{pass}}
    </tbody>
</table>
{{return}}
