{{def print_object(obj, show_owner = True):}}
{{owner = obj.owner()}}
{{type = obj.type()}}
<div class="panel panel-default object">
    <div class="panel-body">

        <div class="row no-margin">
            <div class="col-xs-4 object-image">
                <a href="{{=URL('items', 'show', args=obj.id)}}">
                {{if obj.image:}}
                    <img src="{{=URL('default', 'download', args=obj.image)}}" alt="" class="img-responsive pull-right">
                {{else:}}
                    <img src="http://lorempixel.com/100/100/cats/" alt="" class="img-responsive pull-right">
                {{pass}}
                </a>
            </div>

            <div class="col-xs-6 object-details">
                <ul class="list-unstyled">
                    <li>
                        <a href="{{=URL('items', 'show', args=obj.id)}}">
                            <strong>{{=obj.name}}</strong>
                        </a>
                    </li>
                    <li>
                        Value: &pound;{{="{:0,.2f}".format(obj.currency_value)}}
                    </li>
                    <li>{{=type.name}}</li>
                {{if show_owner:}}
                    <li>
                        <a href="{{=URL('collections', 'index', args=owner.id)}}">
                        {{=owner.username}}
                        </a>
                    </li>
                {{pass}}
                    <li>
                    {{=obj.summary}}
                    </li>
                </ul>
            </div>

            <div class="col-xs-2 object-status">
            {{if obj.status == 0:}}
                <span class="glyphicon glyphicon-heart middle"></span>
                Wish List
            {{elif obj.status == 1:}}
                <span class="glyphicon glyphicon-tags middle"></span>
                For Trade
            {{elif obj.status == 2:}}
                InCol
            {{pass}}
            </div>
        </div>
    </div>
</div>
{{return}}
