{{def print_object(obj, show_owner = True):}}
{{owner = obj.owner()}}
{{type = obj.type()}}
<div class="panel panel-default object">
    <div class="panel-body">
        <div class="row">
            <div class="object-header clearfix col-xs-12">
                <div class="pull-left">
                    <a href="{{=URL('items', 'show', args=obj.id)}}">
                        <strong>{{=obj.name}}</strong>
                    </a>
                </div>

                <div class="pull-right">
                    Value: &pound;{{="{:0,.2f}".format(obj.currency_value)}}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-7 object-text">
                <ul class="list-unstyled">
                    <li>{{=type.name}}</li>
                    {{if show_owner:}}
                    <li>Posted By:
                        <a href="{{=URL('collections', 'show', vars={'user': owner.id})}}">
                        {{=owner.username}}
                        </a>
                    </li>
                    {{pass}}
                </ul>
                <div class="object-status">
                {{if obj.status == 0:}}
                    Want
                {{elif obj.status == 1:}}
                    Have
                {{elif obj.status == 2:}}
                    InCol
                {{pass}}
                </div>
            </div>
            <div class="col-md-5 object-image clearfix">
                <img src="http://lorempixel.com/100/100/cats/{{=obj.id}}/" alt=""
                     class="img-responsive pull-right">
            </div>
        </div>
    </div>
</div>
{{return}}
