{{def print_object(obj, show_owner = True, make_removable = False):}}
{{owner = obj.owner()}}
{{type = obj.type()}}
<div class="panel panel-default" id="object-{{=obj.id}}">
    <header class="panel-heading">
        <a href="{{=URL('items', 'show', args=obj.id)}}" class="object-name">
            {{= obj.name }}
        </a>
        {{ if obj.status == 0: }}
            <span
                class="pull-right object-status not-for-trade"
                data-toggle="tooltip"
                title="This item is in {{= 'your' if owner.id == auth.user_id else owner.username + '\'s'}} collection, but is not for trade!">
                <span
                    class="glyphicon glyphicon-tag middle" aria-hidden="true"></span>
                <span class="sr-only">This item is in {{= 'your' if owner.id == auth.user_id else owner.username + '\'s'}} collection, but is not for trade!</span>
            </span>
        {{ elif obj.status == 1: }}
            <span
                class="pull-right object-status on-wishlist"
                data-toggle="tooltip"
                title="This item is on {{= 'your' if owner.id == auth.user_id else owner.username + '\'s'}} wishlist!">
                <span
                    class="glyphicon glyphicon-heart middle" aria-hidden="true"></span>
                <span class="sr-only">This item is on {{= 'your' if owner.id == auth.user_id else owner.username + '\'s'}} wishlist!</span>
            </span>
        {{ elif obj.status == 2: }}
            {{ if obj.in_trade:}}
                <span
                    class="pull-right object-status not-for-trade"
                    data-toggle="tooltip"
                    {{if owner.id == auth.user_id:}}
                        title="Your item is currently in a trade!"
                    {{else:}}
                        title="This item is currently in a trade, but you can add it to your wishlist for when it becomes available!"
                    {{pass}}
                    >
                    <span
                        class="glyphicon glyphicon-tag middle" aria-hidden="true"></span>
                    <span class="sr-only">{{if owner.id == auth.user_id:}}
                        Your item is currently in a trade!
                    {{else:}}
                        This item is currently in a trade, but you can add it to your wishlist for when it becomes available!
                    {{pass}}</span>
                </span>
            {{else:}}
                <span
                    class="pull-right object-status for-trade"
                    data-toggle="tooltip"
                    title="This item is up for trade!">
                    <span
                        class="glyphicon glyphicon-tag middle" aria-hidden="true"></span>
                    <span class="sr-only">This item is up for trade!</span>
                </span>
            {{ pass }}
        {{ pass }}
    </header>
    <main class="panel-body">
        <div class="row">
            <div class="col-xs-5">
                <a href="{{=URL('items', 'show', args=obj.id)}}">
                {{if obj.image:}}
                    <img style="height: 115px" src="{{=URL('default', 'download', args=obj.image)}}" alt="{{=obj.name}}" class="img-responsive">
                {{else:}}
                    <img src="http://lorempixel.com/100/100/cats/" alt="Missing image" class="img-responsive pull-right">
                {{pass}}
                </a>
            </div>
            <div class="col-xs-7">
                {{ if show_owner: }}
                    <div class="row">
                        <span class="glyphicon glyphicon-user object-icon" aria-hidden="true"></span>
                        <span class="sr-only">User</span>
                        <a href="{{=URL('collections', 'index', args=owner.id)}}">
                            {{=owner.username}}
                        </a>
                    </div>
                {{ pass }}
                <div class="row">
                    <span class="glyphicon glyphicon-gbp object-icon" aria-hidden="true"></span>
                    <span class="sr-only">Value</span>
                    {{="{:0,.2f}".format(obj.currency_value)}}
                </div>
                <div class="row">
                    <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
                    <span class="sr-only">Type</span>
                    {{=type.name}}
                </div>
                <div class="row">
                    {{=obj.summary}}
                </div>
            </div>
        </div>
    </main>
    <footer class="panel-footer">
        <div class="btn-group btn-group-xs" role="group" aria-label="Object Actions">
            <!-- TODO: Contextual Actions -->
            <a
                class="btn btn-default nav-collections"
                role="button"
                href="{{=URL('items', 'show', args=obj.id)}}"
                data-toggle="tooltip"
                title="View item">

                <span class="glyphicon glyphicon-eye-open middle" aria-hidden="true"></span> View
            </a>
            {{if owner.id == auth.user_id:}}
            <a
                class="btn btn-default edit"
                role="button"
                href="{{=URL('items', 'edit', args=obj.id)}}"
                data-toggle="tooltip"
                title="Edit item">

                <span class="glyphicon glyphicon-edit middle" aria-hidden="true"></span> Edit
            </a>
            <a
                class="btn btn-default nav-trades"
                role="button"
                href="{{=URL('items', 'delete', args=obj.id)}}"
                data-toggle="tooltip"
                title="Delete item"
                onclick="return confirm('Are you sure you want to delete this item? \n This cannot be undone!')">
                <span class="glyphicon glyphicon-trash middle" aria-hidden="true"></span> Delete
            </a>
            {{pass}}
            {{if not obj.status == 1 and not owner.id == auth.user_id:}}
            <a
                class="btn btn-default nav-wishlist"
                role="button"
                href="{{=URL('items', 'wish', args=obj.id)}}"
                data-toggle="tooltip"
                title="Add to wishlist">

                <span class="glyphicon glyphicon-heart middle" aria-hidden="true"></span> Add to wishlist
            </a>
            {{pass}}
            {{if (owner.id != auth.user_id) & (obj.status == 2) & (not obj.in_trade):}}
            <a
                class="btn btn-default nav-trades"
                role="button"
                href="{{=URL('trade', 'new', vars={'item_id': obj.id})}}"
                data-toggle="tooltip"
                title="Trade">

                <span class="glyphicon glyphicon-tags middle" aria-hidden="true"></span> Trade this item
            </a>
            {{pass}}
            {{if obj.in_trade:}}
                {{if (obj.trade_sender == auth.user_id) | (obj.trade_receiver == auth.user_id):}}
                <a
                    class="btn btn-default nav-trades"
                    role="button"
                    href="{{=URL('trade', 'view', vars={'tradeid':obj.trade_id})}}"
                    data-toggle="tooltip"
                    title="View trade">
                    <span class="glyphicon glyphicon-flag middle" aria-hidden="true"></span> View trade
                </a>
                {{pass}}
            {{pass}}
        </div>
        {{if make_removable:}}
            <a
                class="remove pull-right"
                role="button"
                href="#remove"
                data-toggle="tooltip"
                title="Remove item from this collection"
                data-id="{{=obj.id}}">
                <span class="glyphicon glyphicon-remove middle" aria-hidden="true"></span>
                <span class="sr-only">Remove item from this collection</span>
            </a>
        {{pass}}
    </footer>
</div>
{{return}}
