{{def print_sortby():}}
<div class="panel-sortby clearfix">
    <div class="dropdown pull-right">
        <button class="btn btn-default dropdown-toggle" type="button" id="sortby-menu"
                data-toggle="dropdown">
            Sort By
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="sortby-menu">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Date Added</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something</a></li>
        </ul>
    </div>
</div>
{{return}}