{{def list_trades(trades):}}
    <table class="table table-striped header-fixed" style="width:100%;">
        <thead>
        <tr>
            <th>Status</th>
            <th>Username</th>
            <th>Date</th>
            <th>Items given</th>
            <th>Items received</th>
            <th>Total value</th>

            <th>Superseded by</th> <!-- Link -->
            <th>Link</th>
        </tr>
        </thead>

        <tbody style="height:inherit">
        {{for trade in trades:}}

        <tr>
            {{if (trade.trades.status==0) & (trade.trades.sender==user_id):}}
                <td><span class="glyphicon glyphicon-send"
                    data-toggle="tooltip"
                    title="This trade has been sent and is awaiting a response."></span></td>
            {{elif (trade.trades.status==0) & (trade.trades.receiver==user_id):}}
                <td><span class="glyphicon glyphicon-arrow-right"
                    data-toggle="tooltip"
                    title="Someone has sent you a trade request! View the
                    trade to accept or reject it."></span></td>
            {{elif trade.trades.status==1:}}
                <td><span class="glyphicon glyphicon glyphicon-remove" style="color:red"
                    data-toggle="tooltip"
                    title="You cancelled this trade."></span></td>
            {{elif trade.trades.status==2:}}
                <td><span class="glyphicon glyphicon-thumbs-down" style="color:red"
                    data-toggle="tooltip"
                    title="The user rejected your trade."></span></td>
            {{elif trade.trades.status==3:}}
                <td><span class="glyphicon glyphicon-thumbs-up" style="color:green"
                    data-toggle="tooltip"
                    title="The user accepted your trade."></span></td>
            {{elif trade.trades.status==4:}}
                <td><span class="glyphicon glyphicon-refresh" style="color:darkorange"
                    data-toggle="tooltip"
                    title="The user proposed a modified trade."></span></td>
            {{pass}}

                <td>{{=trade.trades.otheruser}}</td>
                <td>{{=trade.trades.date_created.date()}}</td>
                <td>{{=trade.sentItems}}</td>
                <td>{{=trade.receivedItems}}</td>
                <td>£ {{=trade.value}}</td>
           {{if trade.trades.superseded_by is not None:}}
                <td><a href="{{=URL('trade', 'view', vars=dict(tradeid=trade.trades.superseded_by))}}">Link</a></td>
            {{else:}}
                <td>N/A</td>
            {{pass}}
                <td><a href="{{=URL('trade', 'view', vars=dict(tradeid=trade.trades.id))}}"><span class="glyphicon glyphicon-eye-open"></span></a></td>
            </tr>
        {{pass}}
        {{if len(trades)==0:}}
        <tr>
            <td colspan=4 style="width:100%">No trades to display :(</td>
        </tr>
        {{pass}}
        </tbody>

    </table>
{{return}}