{{def list_trades(trades, current_user_id):}}
    <table class="table table-striped" style="width:100%;">
        <thead>
        <tr>
            <th class="col-md-2">Status</th>
            <th class="col-md-1">With user</th>
            <th class="col-md-2">Date</th>
            <th class="col-md-1">Items given</th>
            <th class="col-md-1">Items received</th>
            <th class="col-md-1">Replaced by</th> <!-- Link -->
            <th class="col-md-4"></th>
        </tr>
        </thead>

        <tbody style="height:inherit">
        {{if len(trades)==0:}}
        <tr>
            <td colspan="7">No trades to display :(</td>
        </tr>
        {{else:}}
            {{for trade in trades:}}
            <tr>
                <td>
                {{if (trade.trades.status==0) & (trade.trades.sender==user_id):}}
                    <span
                        data-toggle="tooltip"
                        title="This trade has been sent and is awaiting a response">

                        <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
                        Sent
                    </span>
                {{elif (trade.trades.status==0) & (trade.trades.receiver==user_id):}}
                    <span
                        data-toggle="tooltip"
                        title="Someone has sent you a trade request! View the trade to accept or reject it.">

                        <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                        New
                    </span>
                {{elif trade.trades.status==1:}}
                    <span
                        class="text-danger"
                        data-toggle="tooltip"
                        title="{{=("You" if trade.trades.receiver==user_id else trade.trades.otheruser)}} cancelled this trade.">

                        <span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span>
                        Cancelled
                    </span>
                {{elif trade.trades.status==2:}}
                    <span
                        class="text-danger"
                        data-toggle="tooltip"
                        title="{{=("You" if trade.trades.receiver==user_id else trade.trades.otheruser)}} rejected this trade.">

                        <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                        Rejected
                    </span>
                {{elif trade.trades.status==3:}}
                    <span
                        class="text-success"
                        data-toggle="tooltip"
                        title="{{=("You" if trade.trades.receiver==user_id else trade.trades.otheruser)}} accepted this trade.">

                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                        Accepted
                    </span>
                {{elif trade.trades.status==4:}}
                    <span
                        class="text-warning"
                        data-toggle="tooltip"
                        title="{{=("You" if trade.trades.receiver==user_id else trade.trades.otheruser)}} proposed a modified trade.">

                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                        Replaced
                    </span>
                {{pass}}
                </td>
                <td>
                    <a href="{{=URL('collections', 'index', args=(trade.trades.sender if trade.trades.receiver==current_user_id else trade.trades.receiver))}}">
                    {{=trade.trades.otheruser}}
                    </a>
                </td>
                <td>{{=trade.trades.date_created}}</td>
                <td>{{=trade.sentItems}}</td>
                <td>{{=trade.receivedItems}}</td>
                <td>
               {{if trade.trades.superseded_by is not None:}}
                   <a class="btn btn-default nav-collections" href="{{=URL('trade', 'view', vars=dict(tradeid=trade.trades.superseded_by))}}">View</a>
                {{else:}}
                    N/A
                {{pass}}
                </td>
                <td>
                    <div class="pull-right">
                        <a class="btn btn-default nav-collections" href="{{=URL('trade', 'view', vars=dict(tradeid=trade.trades.id))}}">
                            <span class="glyphicon glyphicon-eye middle"></span>
                            View
                        </a>
                        {{if (trade.trades.status==0) & (trade.trades.receiver==user_id):}}
                            <a class="btn btn-default btn-success" href="{{=URL('trade', 'accept', vars=dict(tradeid=trade.trades.id))}}" onclick="return confirm('Are you sure you want to accept this trade?')">Accept</a>
                            <a class="btn btn-default btn-warning" href="{{=URL('trade', 'edit', vars=dict(tradeid=trade.trades.id))}}" >Counter-offer</a>
                            <a class="btn btn-default btn-danger" href="{{=URL('trade', 'delete', vars=dict(tradeid=trade.trades.id))}}" onclick="return confirm('Are you sure you want to reject this trade?')">Reject</a>
                        {{elif (trade.trades.status==0) & (trade.trades.sender==user_id):}}
                            <a class="btn btn-default btn-warning" href="{{=URL('trade', 'edit', vars=dict(tradeid=trade.trades.id))}}" >Modify</a>
                            <a class="btn btn-default btn-danger" href="{{=URL('trade', 'delete', vars=dict(tradeid=trade.trades.id))}}" onclick="return confirm('Are you sure you want to cancel this trade?')">Cancel</a>
                        {{pass}}
                        </td>
                    </div>
                </tr>
            {{pass}}
        {{pass}}
        </tbody>

    </table>
{{return}}
