{{def get_user_select_modal():}}
<div class="modal fade" id="new_trade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Create a new collection</h4>
            </div>
            <div class="modal-body">
                <div id="modal_collection_name" class="form-group">
                    <label for="collections_name" class="mandatory">Select a user:</label>
                    <input class="form-control"
                               id="trade_modal_username"
                               type="search"
                               autocomplete="off" title="Trade modal">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" onclick="redirectToTrade('{{=URL('trade', 'new')}}')" class="btn btn-primary">Start trading</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>
    var __users_url__ = "{{=URL('users', 'index.json')}}";
</script>
{{pass}}