{{def print_users(users):}}
<table class="table table-hover">
    <thead>
    <tr>
        <th>Username</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {{for user in users:}}
    <tr>
        <td>
            <a href="{{=URL('collections', 'index', args=user.id)}}">
            {{=user.username}}
            </a>
        </td>
        <td>
            <a class="btn btn-default nav-collections"
               href="{{=URL('collections', 'index', args=user.id)}}">
                View his collections
            </a>
            <a class="btn btn-default nav-fortrade"
               href="{{=URL('item_lists', 'for_trade', vars=dict(user_id=user.id))}}">
                View his items for trade
            </a>
            <a class="btn btn-default nav-wishlist"
               href="{{=URL('item_lists', 'wish_list', vars=dict(user_id=user.id))}}">
                View his wish list
            </a>
            <a class="btn btn-default nav-trades"
               href="{{=URL('trade', 'new', vars=dict(receiver_id=user.id))}}">
                Trade with this user
            </a>
        </td>
    </tr>
    {{pass}}
    </tbody>
</table>
{{return}}