{{extend 'layout.html'}}

<script src="{{=URL('static','js/trade.js')}}"></script>

<link rel="stylesheet" type="text/css" href="{{=URL('static','css/app.css')}}">
<div id="errorcontainer" class="container">
    <div class="panel panel-default text-center row">
        <div class="panel-body">Trading with username: {{=trader_username}} </div>
    </div>

    <form  id="tradeform" action="{{=URL('trade', 'createNew')}}">
        <input hidden name="prevtrade" value="{{=prevtrade}}"/>
        <input hidden name="receiver_username" value="{{=trader_username}}">
        <div class="row">
            <div class="col-md-6 tradeborder">
                <div class="panel panel-default">

                    <div class="panel-heading">
                        <h2 class="panel-title">You have</h2>
                    </div>

                    <div class="panel-body">

                        <div id="searchItems" class="form-inline">
                            <input type="text" class="form-control" id="searchOwnItems" placeholder="Search your items">
                            <button type="button" class="btn btn-default">Submit</button>
                        </div>

                        <select id="yourAvailableObjects" multiple size="5" class="form-control">
                        {{for row in available_objects[0]:}}
                            <option value="{{=row.objects.id}}" data-currency_value="{{=row.objects.currency_value}}">{{=row.string}}</option>
                        {{pass}}
                        </select>
                        <div class="row">
                            <div class="col-md-8">
                                *Items which are currently in other trades or are not set as 'for trade' will not be available to trade
                            </div>
                            <div class="col-md-4">
                                 <button type="button" class="btn btn-default pull-right" onclick="transferOptionsToTrade($('#yourAvailableObjects'), $('#yourItemDisplay'), true)">Add item</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">{{="You give"}}</h2>
                    </div>

                    <div class="panel-body" id="yourItemDisplay">
                        {{for row in trade_objects[0]:}}
                            <script> addItemToTrade("{{=row.objects.id}}", $('#yourItemDisplay'), $('#yourAvailableObjects'), true)</script>
                        {{pass}}
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-default">

                    <div class="panel-heading">
                        <h2 class="panel-title">The have</h2>
                    </div>

                    <div class="panel-body">

                        <div id="searchItems" class="form-inline">
                            <input type="text" class="form-control" id="searchTheirItems" placeholder="Search their items">
                            <button type="button" class="btn btn-default">Submit</button>
                        </div>

                        <select id="theirAvailableObjects" multiple size="5" class="form-control">
                        {{for row in available_objects[1]:}}
                            <option value="{{=row.objects.id}}" data-currency_value="{{=row.objects.currency_value}}">{{=row.string}}</option>
                        {{pass}}
                        </select>
                        <div class="row">
                            <div class="col-md-8">
                                *Items which are currently in other trades or are not set as 'for trade' will not be available to trade
                            </div>
                            <div class="col-md-4">
                                <button type="button" class="btn btn-default pull-right" onclick="transferOptionsToTrade($('#theirAvailableObjects'), $('#hisItemDisplay'), true)">Add item</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">

                    <div class="panel-heading">
                        <h2 class="panel-title">{{="They give"}}</h2>
                    </div>

                    <div class="panel-body" id="hisItemDisplay">
                        {{for row in trade_objects[1]:}}
                            <script> addItemToTrade("{{=row.objects.id}}", $('#hisItemDisplay'), $('#theirAvailableObjects'),  true)</script>
                        {{pass}}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 text-center">
                <h2>Your items = £ <span id="yourVal">0</span> </h2>
            </div>
            <div class="col-md-4 text-center">
                <h2>Difference = £ <span id="tradevalue">0</span> </h2>
            </div>
            <div class="col-md-4 text-center">
                <h2>Total profit = £ <span id="hisVal">0</span> </h2>
            </div>
        </div>

        <div class="row">
            <div class="pull-left">
                <a class="btn btn-danger" href="{{=URL('trade', 'index')}}">Cancel</a>
            </div>
            <div class="pull-right">
                <button type="button" onclick="submitForm()" class="btn btn-success">Submit</button>
             </div>
        </div>
    </form>
</div>
<script>
    var __users_url__ = "{{=URL('users', 'index.json')}}";
</script>
