{{breadcrumbs = [[URL('default', 'index'), 'Home'], [URL('trade', 'index'), 'My trades'], ['Edit trade']]}}

{{extend 'layout.html'}}

<script src="{{=URL('static','js/trade.js')}}"></script>

<link rel="stylesheet" type="text/css" href="{{=URL('static','css/app.css')}}">
<div id="errorcontainer" class="container">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <p>Trade between you and
            <a href="{{=URL('collections', 'index', args=trader_id)}}">{{=trader_username}}</a></p>
    </div>
    <div class="col-md-4"></div>
    <form  id="tradeform" action="{{=URL('trade', 'createNew')}}">
        <input hidden name="prevtrade" value="{{=prevtrade}}"/>
        <input hidden name="receiver_username" value="{{=trader_username}}">
        <div class="row">
            <div class="col-md-6 tradeborder">
                <div class="panel panel-default">

                    <header class="panel-heading">
                        <h2 class="panel-title">Your items</h2>
                    </header>

                    <main class="panel-body">
                        <div class="row" style="padding-bottom:5px">
                            <div class="col-md-7">
                                <div id="searchItems" class="input-group trade-item-search">
                                    <input id="searchOwnItems" type="text" class="form-control"
                                           placeholder="Search your items"
                                           autocomplete="off">
                                    <select id="selectOwnCol" class="selectpicker form-control" title="Filter items by collection" onchange="filterTradeItems(true);">
                                        <option value="all">All collections</option>
                                        {{for col in collections[0]:}}
                                            <option value="{{=col}}">{{=col}}</option>
                                        {{pass}}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <label>
                                    View non-tradable items: <input id="your-item-checkbox" type="checkbox" checked onchange="filterTradeItems(true);">
                                </label>
                            </div>
                        </div>
                        <div class="form-group" id="yourItems">
                            {{for obj in available_objects[0]:}}
                                {{print_trade_obj(obj)}}
                            {{pass}}
                        </div>
                    </main>
                </div>

                <div class="panel panel-default">
                    <header class="panel-heading">
                        <h2 class="panel-title">Your offering</h2>
                    </header>

                    <main class="panel-body" id="yourOffering">
                        {{for obj in trade_objects[0]:}}
                            {{print_trade_obj(obj)}}
                        {{pass}}
                    </main>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-default">

                    <header class="panel-heading">
                        <h2 class="panel-title">{{=trader_username}}'s items</h2>
                    </header>

                    <main class="panel-body">

                        <div class="row" style="padding-bottom:5px">
                             <div class="col-md-7">
                                <div class="input-group trade-item-search">
                                    <input id="searchTheirItems" type="text" class="form-control"
                                           placeholder="Search your items"
                                           autocomplete="off">
                                    <select id="selectTheirCol" class="selectpicker form-control" title="Filter items by collection" onchange="filterTradeItems(false);">
                                        <option value="all">All collections</option>
                                        {{for col in collections[1]:}}
                                            <option value="{{=col}}">{{=col}}</option>
                                        {{pass}}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <label>
                                    View non-tradable items: <input id="their-item-checkbox" type="checkbox" checked onchange="filterTradeItems(false);">
                                </label>
                            </div>
                        </div>

                        <div class="form-group" id="theirItems">
                            <label for="theirAvailableObjects" class="sr-only">
                                Their available items
                            </label>
                            {{for obj in available_objects[1]:}}
                                {{print_trade_obj(obj)}}
                            {{pass}}
                        </div>

                    </main>
                </div>
                <div class="panel panel-default">

                    <header class="panel-heading">
                        <h2 class="panel-title">{{=trader_username}}'s offerings</h2>
                    </header>

                    <main class="panel-body" id="theirOffering">
                        {{for obj in trade_objects[1]:}}
                            {{print_trade_obj(obj)}}
                        {{pass}}
                    </main>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 text-center">
                <h3>Your items = &pound; <span id="yourVal">0</span> </h3>
            </div>
            <div class="col-md-4 text-center">
                <h3>Difference = &pound; <span id="tradevalue">0</span> </h3>
            </div>
            <div class="col-md-4 text-center">
                <h3>Their items = &pound; <span id="hisVal">0</span> </h3>
            </div>
        </div>

        <div class="row">
            <div class="pull-left">
                <a class="btn btn-danger" role="button" href="{{=URL('trade', 'index')}}">Cancel</a>
            </div>
            <div class="pull-right">
                <button type="button" onclick="submitForm()" class="btn btn-success">Submit</button>
             </div>
        </div>
    </form>
</div>
<script>
    var __users_url__ = "{{=URL('users', 'index.json')}}";
</script>
