{{extend 'layout.html'}}
<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="pull-left col-md-2">
                <a href="{{=URL('trade', 'new')}}"><div class="btn btn-default">Propose new trade</div></a>
            </div>
            <div class="pull-left col-md-3" >
                <a class="vcenter " href="{{=URL('trade', 'history')}}">View trade history</a>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">Incoming trades</h2>
        </div>
        <div class="panel-body">
            {{=list_trades(incoming)}}
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">Sent trades</h2>
        </div>
        <div class="panel-body">
            {{=list_trades(sent)}}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">Completed trades</h2>
        </div>
        <div class="panel-body">
            {{=list_trades(completed)}}
        </div>
    </div>
</div>
