{{breadcrumbs = [[URL('default', 'index'), 'Home'], [URL('trade', 'index'), 'My trades'], ['Trade log']]}}

{{extend 'layout.html'}}
<div class="container">
    <div class="panel panel-default">
        <header class="panel-heading">
            <h2 class="panel-title">{{=user_name}}'s trade log</h2>
        </header>
        <div class="panel-body">
            {{print_table_sortby()}}
        </div>
    {{list_trades(trades, user_id)}}
    </div>
    <nav>
        <ul class="pager">
        {{if hasPrevPage:}}
            <li class="previous"><a href={{=URL('trade', 'history', vars={"index": minIndex-numPerPage})}}><span
                    aria-hidden="true">&larr;</span> Older</a></li>
        {{pass}}
        {{if hasNextPage:}}
            <li class="next"><a href={{=URL('trade', 'history', vars={"index": minIndex+numPerPage})}}>Newer <span
                    aria-hidden="true">&rarr;</span></a></li>
        {{pass}}
        </ul>
    </nav>
</div>
