{{breadcrumbs = [[URL('default', 'index'), 'Home'], [URL('trade', 'index'), 'My trades'], ['New trade with ' + trader_username]]}}
{{extend 'layout.html'}}

<div  id="errorcontainer" class="container">

    <form id="tradeform" action="{{=URL('trade', 'createNew')}}">
        <input hidden name="receiver_username" value="{{=(trader_username if trader_username is not None else '')}}">
        <div class="row">
            <div class="col-md-6 tradeborder">
                <div class="panel panel-default">

                    <div class="panel-heading">
                        <h2 class="panel-title">You have</h2>
                    </div>

                    <div class="panel-body">

                        <div class="form-group">
                            <div id="searchItems" class="form-inline">

                                <input type="text" class="form-control" id="searchOwnItems"
                                       placeholder="Search your items"
                                       autocomplete="off">
                                <button type="button" class="btn btn-default">Submit</button>
                            </div>
                        </div>

                        <div class="form-group" id="yourItems">
                            {{for row in available_objects[0]:}}
                                {{obj = row.objects}}
                                <div onclick="moveObject(this);" data-toggle="tooltip" title="{{=obj.tooltip}}" data-currency_value="{{=obj.currency_value}}" itemid="{{=obj.id}}" class='item-preview' style='background-image: url("{{=URL(r=request, c='default', f='download',  args=obj.image, host=True)}}");'>
                                </div>
                            {{pass}}
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">

                    <div class="panel-heading">
                        <h2 class="panel-title">{{="You give"}}</h2>
                    </div>

                    <div class="panel-body" id="yourOffering">
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-default">

                    <div class="panel-heading">
                        <h2 class="panel-title">They have</h2>
                    </div>

                    <div class="panel-body">

                        <div class="form-group">
                            <div id="searchItems" class="form-inline">
                                <input type="text" class="form-control" id="searchTheirItems"
                                       placeholder="Search their items" autocomplete="off">
                                <button type="button" class="btn btn-default">Submit</button>
                            </div>
                        </div>

                        <div class="form-group" id="theirItems">
                            <label for="theirAvailableObjects" class="sr-only">
                                Their available items
                            </label>
                            {{if len(available_objects)>1:}}
                                {{for row in available_objects[1]:}}
                                    {{obj = row.objects}}
                                    {{if obj.id != wanted_object.objects.id:}}
                                        <div onclick="moveObject(this);" data-toggle="tooltip" title="{{=obj.tooltip}}" data-currency_value="{{=obj.currency_value}}" itemid="{{=obj.id}}" class='item-preview' style='background-image: url("{{=URL(r=request, c='default', f='download',  args=obj.image, host=True)}}");'>
                                        </div>
                                    {{pass}}
                                {{pass}}
                            {{pass}}
                        </div>

                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">{{="They give"}}</h2>
                    </div>

                    <div class="panel-body" id="theirOffering">
                        {{if wanted_object is not None:}}
                            {{obj = wanted_object.objects}}
                            <div onclick="moveObject(this);" data-toggle="tooltip" title="{{=obj.tooltip}}" data-currency_value="{{=obj.currency_value}}" itemid="{{=obj.id}}" class='item-preview' style='background-image: url("{{=URL(r=request, c='default', f='download',  args=obj.image, host=True)}}");'>
                            </div>
                        {{pass}}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 text-center">
                <h3>Your items = &pound; <span id="yourVal">0</span> </h3>
            </div>
            <div class="col-md-4 text-center">
                <h3>Difference = &pound; <span id="tradevalue">0</span> </h3>
            </div>
            <div class="col-md-4 text-center">
                <h3>His items = &pound; <span id="hisVal">0</span> </h3>
            </div>
        </div>
        <div class="row">
            <div class="pull-left">
                <a class="btn btn-danger" href="{{=URL('trade', 'index')}}">Cancel</a>
            </div>
            <div class="pull-right">
                <button type="button" onclick="submitForm()" class="btn btn-success">Submit</button>
            </div>
        </div>
    </form>
</div>


<script>
    var __users_url__ = "{{=URL('users', 'index.json')}}";
</script>
<script src="{{=URL('static','js/trade.js')}}"></script>