{{breadcrumbs = [[URL('default', 'index'), 'Home'], [URL('trade', 'index'), 'My trades'], ['New trade with ' + trader_username]]}}
{{extend 'layout.html'}}

<div  id="errorcontainer" class="container">

    <form id="tradeform" action="{{=URL('trade', 'createNew')}}">
        <input hidden name="receiver_username" value="{{=(trader_username if trader_username is not None else '')}}">
        <div class="row">
            <div class="col-md-6 tradeborder">
                <div class="panel panel-default">

                    <header class="panel-heading">
                        <h2 class="panel-title">Your items</h2>
                    </header>

                    <div class="panel-body">
                        <div class="row" style="padding-bottom:5px">
                            <div class="col-md-10">
                                <div id="searchItems" class="input-group trade-item-search">
                                    <span class="input-group-addon">
                                        <span
                                            class="glyphicon glyphicon-search"
                                            aria-hidden="true"></span>
                                        <span class="sr-only">
                                            Search
                                        </span>
                                    </span>
                                    <label class="sr-only" for="searchOwnItems">Search for your available items</label>
                                    <input id="searchOwnItems" type="text" class="form-control"
                                           placeholder="Search your items"
                                           autocomplete="off">
                                    <select id="selectOwnCol" class="selectpicker form-control" title="Filter items by collection" onchange="filterTradeItems(true);">
                                        <option value="all">All collections</option>
                                        {{for col in collections[0]:}}
                                            <option value="{{=col}}">{{=col}}</option>
                                        {{pass}}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="btn-group pull-right" data-toggle="buttons">
                                    <label
                                        class="btn btn-default active"
                                        title="View nontradable items"
                                        data-toggle="tooltip"
                                        for="your-item-checkbox">
                                        <input
                                            id="your-item-checkbox"
                                            type="checkbox"
                                            onchange="filterTradeItems(true);"
                                            checked>
                                        <span
                                            class="glyphicon glyphicon-eye-close"
                                            aria-hidden="true"></span>
                                        <span class="sr-only">View non-tradable items</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" id="yourItems">
                            <label class="sr-only">
                                Your available items
                            </label>
                            {{for obj in available_objects[0]:}}
                                {{print_trade_obj(obj)}}
                            {{pass}}
                        </div>

                    </div>
                </div>
                <div class="panel panel-default">

                    <header class="panel-heading">
                        <h2 class="panel-title">Your offerings</h2>
                    </header>

                    <div class="panel-body" id="yourOffering">
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-default">

                    <header class="panel-heading">
                        <h2 class="panel-title">{{=trader_username}}'s items</h2>
                    </header>

                    <div class="panel-body">


                        <div class="row" style="padding-bottom:5px">
                            <div class="col-md-10">
                                <div class="input-group trade-item-search">
                                    <label class="sr-only" for="searchTheirItems">Search for their available items</label>
                                    <input id="searchTheirItems" type="text" class="form-control"
                                           placeholder="Search your items"
                                           autocomplete="off">
                                    <select id="selectTheirCol" class="selectpicker form-control" title="Filter items by collection" onchange="filterTradeItems(false);">
                                        <option value="all">All collections</option>
                                        {{for col in collections[1]:}}
                                            <option value="{{=col}}">{{=col}}</option>
                                        {{pass}}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="btn-group pull-right" data-toggle="buttons">
                                    <label
                                        class="btn btn-default active"
                                        title="View nontradable items"
                                        data-toggle="tooltip"
                                        for="their-item-checkbox">
                                        <input
                                            id="their-item-checkbox"
                                            type="checkbox"
                                            onchange="filterTradeItems(false);"
                                            checked>
                                        <span
                                            class="glyphicon glyphicon-eye-close"
                                            aria-hidden="true"></span>
                                        <span class="sr-only">View their non-tradable items</span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" id="theirItems">
                            <label class="sr-only">
                                Their available items
                            </label>
                            {{if len(available_objects)>0:}}
                                {{for row in available_objects[1]:}}
                                    {{if wanted_object is not None:}}
                                        {{if row.objects.id != wanted_object:}}
                                            {{print_trade_obj(row)}}
                                        {{pass}}
                                    {{else:}}
                                        {{print_trade_obj(row)}}
                                    {{pass}}
                                {{pass}}
                            {{pass}}
                        </div>

                    </div>
                </div>
                <div class="panel panel-default">
                    <header class="panel-heading">
                        <h2 class="panel-title">{{=trader_username}}'s offerings</h2>
                    </header>

                    <div class="panel-body" id="theirOffering">
                        {{if wanted_object is not None:}}
                            {{for obj in available_objects[1]:}}
                                {{if obj.objects.id==wanted_object:}}
                                   {{print_trade_obj(obj)}}
                                {{pass}}
                            {{pass}}
                        {{pass}}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 text-center">
                <h3>Your items = &pound; <span id="yourVal">0</span> </h3>
            </div>
            <div class="col-md-4 text-center">
                <h3>Difference = &pound; <span id="tradevalue">0</span> </h3>
            </div>
            <div class="col-md-4 text-center">
                <h3>His items = &pound; <span id="hisVal">0</span> </h3>
            </div>
        </div>
        <div class="row">
            <div class="pull-left">
                <a class="btn btn-danger" role="button" href="{{=URL('trade', 'index')}}">Cancel</a>
            </div>
            <div class="pull-right">
                <button type="button" onclick="submitForm()" class="btn btn-success">Submit</button>
            </div>
        </div>
    </form>
</div>


<script>
    var __users_url__ = "{{=URL('users', 'index.json')}}";
</script>
<script src="{{=URL('static','js/trade.js')}}"></script>
