{{extend 'layout.html'}}

<div  id="errorcontainer" class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <form class="form-inline" action="{{=URL('trade', 'new')}}">
                <label for="receiver_username">Select User: &nbsp;</label>
                <input class="form-control"
                       style='width:80%'
                       name="receiver_username"
                       id="receiver_username"
                       type="search"
                       autocomplete="off"
                       value="{{=(trader_username if trader_username is not None else '')}}">
                <input type='submit' value='Submit'>
            </form>
        </div>
    </div>

    <!-- TODO: create search features for multi-selects -->
    <form id="tradeform" action="{{=URL('trade', 'createNew')}}">

        <input hidden name="receiver_username" value="{{=(trader_username if trader_username is not None else '')}}">
        <div class="row">
            <div class="col-md-6 tradeborder">
                <div class="panel panel-default">

                    <div class="panel-heading">
                        <h2 class="panel-title">You have</h2>
                    </div>

                    <div class="panel-body">

                        <div class="form-group">
                            <div id="searchItems" class="form-inline">

                                <input type="text" class="form-control" id="searchOwnItems"
                                       placeholder="Search your items"
                                       autocomplete="off">
                                <button type="button" class="btn btn-default">Submit</button>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="ownAvailableObjects" class="sr-only">Your own items you can trade</label>
                            <select id="ownAvailableObjects" multiple size="5" class="form-control">
                            {{for row in available_objects[0]:}}
                                    <option value="{{=row.objects.id}}" data-currency_value="{{=row.objects.currency_value}}">{{=row.string}}</option>
                            {{pass}}
                            </select>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                *Items which are currently in other trades or are not set as 'for trade' will not be available to trade
                            </div>
                            <div class="col-md-4">
                            <button type="button" class="btn btn-default pull-right"
                                    onclick="transferOptionsToTrade($('#ownAvailableObjects'), $('#yourItemDisplay'), true)">
                                Add item
                            </button>
                           </div>
                        </div>

                    </div>
                </div>
                <div class="panel panel-default">

                    <div class="panel-heading">
                        <h2 class="panel-title">{{="You give"}}</h2>
                    </div>

                    <div class="panel-body" id="yourItemDisplay">
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-default">

                    <div class="panel-heading">
                        <h2 class="panel-title">They have</h2>
                    </div>

                    <div class="panel-body">

                        <div class="form-group">
                            <div id="searchItems" class="form-inline">
                                <input type="text" class="form-control" id="searchTheirItems"
                                       placeholder="Search their items" autocomplete="off">
                                <button type="button" class="btn btn-default">Submit</button>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="theirAvailableObjects" class="sr-only">
                                Their available items
                            </label>
                            <select id="theirAvailableObjects" multiple size="5" class="form-control">
                            {{if len(available_objects)>1:}}
                                {{for row in available_objects[1]:}}
                                    <option value="{{=row.objects.id}}" data-currency_value="{{=row.objects.currency_value}}">{{=row.string}}</option>
                                {{pass}}
                            {{pass}}
                            </select>
                        </div>

                        <div class="row">
                            <div class="col-md-8">
                                *Items which are currently in other trades or are not set as 'for trade' will not be available to trade
                            </div>
                            <div class="col-md-4">
                            <button type="button" class="btn btn-default"
                                    onclick="transferOptionsToTrade($('#theirAvailableObjects'), $('#hisItemDisplay'), true)">
                                Add item
                            </button>
                           </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">

                    <div class="panel-heading">
                        <h2 class="panel-title">{{="They give"}}</h2>
                    </div>

                    <div class="panel-body" id="hisItemDisplay">
                        {{if wanted_object is not None:}}
                            <script> $(document).ready(function(){addItemToTrade("{{=wanted_object.objects.id}}", $('#hisItemDisplay'), $('#theirAvailableObjects'), true)});</script>
                        {{pass}}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 text-center">
                <h2>Your items = &pound; <span id="yourVal">0</span> </h2>
            </div>
            <div class="col-md-4 text-center">
                <h2>Difference = &pound; <span id="tradevalue">0</span> </h2>
            </div>
            <div class="col-md-4 text-center">
                <h2>His items = &pound; <span id="hisVal">0</span> </h2>
            </div>
        </div>
        <div class="row">
            <div class="pull-left">
                <a class="btn btn-danger" href="{{=URL('trade', 'index')}}">Cancel</a>
            </div>
            <div class="pull-right">
                <button type="button" onclick="submitForm()" class="btn btn-success">Submit</button>
            </div>
        </div>
    </form>
</div>


<script>
    var __users_url__ = "{{=URL('users', 'index.json')}}";
</script>
<script src="{{=URL('static','js/trade.js')}}"></script>