{{extend 'layout.html'}}

<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <input type="text" class="form-control">
            <button class="btn btn-danger">Delete</button>
        </div>
        <div class="col-xs-6 clearfix">
            <div class="pull-right">
                <button class="btn btn-success">Add Item</button>
            </div>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title clearfix">
                <div class="pull-left">
                    Collection
                </div>
                <div class="pull-right">
                    <button>Sort By</button>
                </div>
            </div>
        </div>

        <div class="panel-body">
        </div>
    </div>
</div>