{{extend 'layout.html'}}

<div class="container">

    <div class="clearfix">
        <div class="pull-left">
            <h2>
            {{=collection.name}}
                <small>
                    by
                    <a href="{{=URL('collections', 'index', args=user.id)}}">
                    {{=user.username}}
                    </a>
                </small>
            </h2>
        </div>

        <div class="pull-right">
        {{if is_owner:}}
            <a href="{{=URL('items', 'create', vars={'collection':collection.id})}}" class="btn btn-success">
                Create and Add Item
            </a>
            <a href="{{=URL('collections', 'edit', args=collection.id)}}" class="btn btn-warning">Edit Collection</a>
        {{pass}}
        </div>
    </div>

{{if is_owner:}}
    <p>
        <i>
            This collection is {{if collection.private:}} private{{else:}} public{{pass}}.
        </i>
    </p>
{{pass}}

    <div class="panel panel-default">
        <div class="panel-body">
        {{print_sortby()}}
        {{for chunk in chunks(items, 3):}}
            <div class="row">
            {{for item in chunk:}}
                <div class="col-xs-4 object-wrapper">
                {{print_object(item, False)}}
                </div>
            {{pass}}
            </div>
        {{pass}}
        </div>
    </div>


</div>