{{extend 'layout.html'}}

<div class="container">

    <div class="clearfix">
        <h2 class="pull-left">{{=user.username}}'s Collection: <strong>{{=collection.name}}</strong></h2>

        <div class="pull-right">
        {{if is_owner:}}
            <a href="{{=URL('collections', 'add', args=collection.id)}}" class="btn btn-success">Add Item</a>
            <a href="{{=URL('collections', 'edit', args=collection.id)}}" class="btn btn-warning">Edit Collection</a>
        {{pass}}
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            {{print_sortby()}}
            <div class="row">
            {{items = collection.objects()}}
            {{for item in items:}}
                <div class="col-xs-4 object-wrapper">
                {{print_object(item, False)}}
                </div>
            {{pass}}
            </div>
        </div>
    </div>


</div>