.wrapper {
    margin-top: 75px;
}

.full-width {
    width: 100%;
}

.row.row-bottom-margin {
    margin-bottom: 25px;
}

.notification-icon {
    color: #fff;
    text-shadow: 0 0 3px #09f;
}

.navbar-searchbar input.form-control {
    width: 100%;
}

.filters .filter {
    padding-bottom: 5px;
}

.filters .filter button {
    margin-bottom: 10px;
}

.no-gutter > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

.object-wrapper {
    margin-bottom: 15px;
}

.object .panel-body {
    /*padding: 0;*/
    padding: 0px 0 0 10px;
}

.object .object-image {
}

.object .object-image img {
    border-bottom-right-radius: 4px;
}

.object .object-header {
    padding: 10px 15px;
}

.object .object-text {
}

.object .object-status {
    width: 100%;
}

.form-comment {
    font-style: italic;
}

.glyphicon.middle {
    vertical-align: -1px;
}

/*Trade index*/

.tradeborder {
    border-right: 1px solid #393a35;
}

.receiverUsernamePanel {
    text-align: center;
    clear: both;
    padding-bottom: 1%
}

/* Trade history */

.trade-history-table {

}

.header-fixed {
    width: 12.5%
}

.header-fixed > thead,
.header-fixed > tbody,
.header-fixed > thead > tr,
.header-fixed > tbody > tr,
.header-fixed > thead > tr > th,
.header-fixed > tbody > tr > td {
    display: block;
}

.header-fixed > tbody > tr:after,
.header-fixed > thead > tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.header-fixed > tbody {
    overflow-y: auto;
    height: 150px;
}

.header-fixed > tbody > tr > td,
.header-fixed > thead > tr > th {
    width: 12.5%;
    float: left;
}

/* Collection Show */
.panel-sortby {
    margin-bottom: 25px;
}

.item-preview {
    position: relative;
    background-size:cover;
    height: 100px;
    width: 100px;
    float:left;
    opacity: 1;
    transition: opacity 0.3s;
}


.hovertext{
    position: relative;
    top:0;
    left:0;
    height:100%;
    width:100%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, background 0.3s ease-in-out;
    background: rgba(255,255,255,0);
    padding: 0.5em;
    overflow: hidden;
    z-index:1;
}

/*background-image: url({{=URL('download', args=row.comicbook.cover, host=True)}});*/
.hovertext:hover{
    opacity: 1;
    transition: opacity 0.3s ease-in-out, background 0.3s ease-in-out;
    background: rgba(255,255,255,0.8);
}

.rmvItemPreview{
    float:right;
    position: absolute;
    top: 0;
    right: 0;
    z-index:2;
}