.wrapper {
    margin-top: 75px;
}

.full-width {
    width: 100%;
}

.undo {
    position: fixed;
    z-index: 1000;
    bottom: 0;
    width: 100%;
    height: 60px;
    padding-top: 15px;
    background-color: #faebcc;
    border-top: 1px solid #faebcc;
    color: #8a6d3b;
}

.row-bottom-margin {
    margin-bottom: 25px;
}

.tooltip-inner {
    white-space: pre-wrap;
}

.notification-icon {
    color: #09f;
    text-shadow: 0 0 3px #09f;
}

#undo-name-display {
    font-weight: bold;
}

.nav-collections {
    color: #008000 !important;
}

.nav-fortrade {
    color: #69c !important;
}

.nav-wishlist {
    color: #c90 !important;
}

.nav-trades {
    color: #c33 !important;
}

.edit {
    color: #d58512 !important;
}


.navbar-searchbar input.form-control {
    width: 100%;
}

.filters .filter {
    padding-bottom: 5px;
}

.filters .filter button {
    margin-bottom: 10px;
}

.no-gutter > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

.object-wrapper {
    margin-bottom: 15px;
}

.object-status {
    box-sizing: content-box;

    width: 2em;
    margin: -5px -10px -5px -5px;
    padding: 5px;

    background: red;

    text-align: center;

    border-radius: 4px;
}

.not-for-trade {
    background: #ddd;
    color: #999;
}

.in-trade {
    background: #cc0003;
    color: #fff;
}

.for-trade {
    background: #09c;
    color: #fff;
}
.on-wishlist {
    background: #f90;
    color: #fff;
}

.object-icon {
    margin-right: .5em;
}

.form-comment {
    font-style: italic;
}

.mandatory:after {
    content: ' *';
    color: red;
}

.glyphicon.middle {
    vertical-align: -1px;
}

#filters-types ul li {
    padding: 7px 10px;
}

/*Trade index*/

.tradeborder {
    border-right: 1px solid #393a35;
}

.receiverUsernamePanel {
    text-align: center;
    clear: both;
    padding-bottom: 1%
}

.header-fixed {
    width: 12.5%
}

.header-fixed > thead,
.header-fixed > tbody,
.header-fixed > thead > tr,
.header-fixed > tbody > tr,
.header-fixed > thead > tr > th,
.header-fixed > tbody > tr > td {
    display: block;
}

.header-fixed > tbody > tr:after,
.header-fixed > thead > tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.header-fixed > tbody {
    overflow-y: auto;
    height: 150px;
}

.header-fixed > tbody > tr > td,
.header-fixed > thead > tr > th {
    width: 12.5%;
    float: left;
}

/* Collection Show */
.panel-sortby {
    margin-bottom: 25px;
}

.item-preview {
    position: relative;
    background-size: cover;
    height: 100px;
    width: 100px;
    float: left;
    opacity: 1;
    transition: opacity 0.3s;
}

.item-preview.deleted{
    text-align:center;
    border:1px black solid;
}

.hovertext {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, background 0.3s ease-in-out;
    background: rgba(255, 255, 255, 0);
    padding: 0.5em;
    overflow: hidden;
    z-index: 1;
}

/*background-image: url({{=URL('download', args=row.comicbook.cover, host=True)}});*/
.hovertext:hover {
    opacity: 1;
    transition: opacity 0.3s ease-in-out, background 0.3s ease-in-out;
    background: rgba(255, 255, 255, 0.8);
}

.rmvItemPreview {
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

.vcenter {
    height: 3em;
    vertical-align: middle;
    display: table-cell;
}

.imgPreview {
    background-size:100% 100%;
}

.remove {
    color: #F00;
    font-size:16pt;
}

.remove:hover{
    color: #740000;
}

.table td, th {
    text-align: center;
}