.wrapper {
    margin-top: 75px;
}

.navbar-searchbar {

}

.navbar-searchbar label {
    display: none;
}

.navbar-searchbar button {
    line-height: 10px;
}

.navbar-searchbar input.form-control {
    width: 100%;
    height: 30px;
}