<form action="{{=URL('search', 'index')}}">

    <input type="hidden" name="query" value="{{=request.vars.query or ""}}">
    <input type="hidden" name="page" value="{{=request.vars.page or page or ""}}">

    <div class="filters">
        <div class="filter controls">
            <a href="{{=URL('search', 'index', vars=dict(query=request.vars.query))}}" class="btn btn-danger" role="button">
                Reset Filters
            </a>
        </div>

        <div class="filter user">
            <button type="button" class="btn btn-default btn-block" data-toggle="collapse" data-target="#filters-user">
                User
                <span class="caret"></span>
            </button>

            <div id="filters-user" class="collapse {{if request.vars.user:}}in{{pass}}">
                <div class="form-group">
                    <label for="filter_user">Username</label>
                    <input type="search" name="user" id="filter_user" class="form-control"
                           value="{{=request.vars.user or ''}}" autocomplete="off">
                </div>

            {{if auth.user_id is not None:}}
                <div class="form-group">
                    <label for="only_other" class="label-control">
                        <input type="checkbox" name="only_other" id="only_other"
                               {{if request.vars.only_other:}}checked="checked"{{pass}}>
                        <span class="middle">Only display other people's items</span>
                    </label>
                </div>
            {{pass}}
            </div>

        </div>

        <div class="controls filter">
            <button type="submit" name="filtered" value="true" class="btn btn-success">Submit Filters</button>
        </div>
    </div>


</form>

<script>
    var __users_url__ = "{{=URL('users', 'index.json')}}";
</script>
<script src="{{=URL('static','js/search.js')}}"></script>
