<form action="{{=URL('search', 'index')}}">

    <input type="hidden" name="query" value="{{=request.vars.query or ""}}">
    <input type="hidden" name="page" value="{{=request.vars.page or page or ""}}">

    <div class="filters">
        <div class="filter controls">
            <a href="{{=URL('search', 'index', vars=dict(query=request.vars.query))}}" class="btn btn-danger">Reset
                Filters</a>
        </div>

        <div class="filter types">
            <button type="button" class="btn btn-default btn-block" data-toggle="collapse" data-target="#filters-types">
                Types
                <span class="caret"></span>
            </button>

            <div id="filters-types" class="collapse {{if request.vars.types:}}in{{pass}}">
                <ul class="list-group">
                    {{for type in types:}}
                    <li class="list-group-item">
                        {{if type.id in selected_types:}}
                        <label for="{{=type.name}}-{{=type.id}}" class="full-width">
                            <input type="checkbox"
                                   name="types"
                                   id="{{=type.name}}-{{=type.id}}"
                                   value="{{=type.id}}"
                                   checked="checked">
                            {{=type.name}}
                        </label>
                        {{else:}}
                        <label for="{{=type.name}}-{{=type.id}}" class="full-width">
                            <input type="checkbox"
                                   name="types"
                                   id="{{=type.name}}-{{=type.id}}"
                                   value="{{=type.id}}">
                            {{=type.name}}
                        </label>
                        {{pass}}

                    </li>
                    {{pass}}
                </ul>
            </div>
        </div>

        <!-- TODO: Change to numberwang -->
        <!-- Reasons: Accessability, undefined maximum, easy to know when
            null input -->
        <div class="filter value">
            <button type="button" class="btn btn-default btn-block" data-toggle="collapse" data-target="#filters-value">
                Value
                <span class="caret"></span>
            </button>

            <div id="filters-value" class="collapse {{if request.vars.min_value or request.vars.max_value:}}in{{pass}}">
                <label for="min_value">Minimum value: <span
                        id="current_min_value">{{=(request.vars.min_value or 0)}}</span></label>
                <input type="range" id="min_value" name="min_value" min="0" value="{{=(request.vars.min_value or 0)}}"
                       max="2000" step="1">

                <label for="max_value">Maximum value: <span
                        id="current_max_value">{{=(request.vars.max_value or 10)}}</span></label>
                <input type="range" id="max_value" name="max_value" min="0" max="2000" step="1"
                       value="{{=(request.vars.max_value or 2000)}}">
            </div>
        </div>

        <div class="filter user">
            <button type="button" class="btn btn-default btn-block" data-toggle="collapse" data-target="#filters-user">
                User
                <span class="caret"></span>
            </button>
            <div id="filters-user" class="collapse {{if request.vars.user_id:}}in{{pass}}">
                <label for="filter_user">Username</label>
                <input type="search" name="user" id="filter_user" class="form-control"
                       value="{{=request.vars.user or ''}}" autocomplete="off">
                <input type="hidden" name="user_id" id="filter_user_id" value="{{=request.vars.user_id or ''}}">
            </div>
        </div>

        <div class="filter status">
            <button type="button" class="btn btn-default btn-block" data-toggle="collapse" data-target="#filters-status">
                Item Status
                <span class="caret"></span>
            </button>
            <div id="filters-status" class="collapse {{if filtered:}}in{{pass}}">
                <ul class="list-group">
                    {{for status in statuses:}}
                    <li class="list-group-item">
                        {{if status.id in selected_statuses:}}
                        <label for="{{=status.id}}-{{=status.name}}" class="full-width">
                            <input type="checkbox"
                                   name="statuses"
                                   id="{{=status.id}}-{{=status.name}}"
                                   value="{{=status.id}}"
                                   checked="checked">
                            {{=status.name}}
                        </label>
                        {{else:}}
                        <label for="{{=status.id}}-{{=status.name}}" class="full-width">
                            <input type="checkbox"
                                   name="statuses"
                                   id="{{=status.id}}-{{=status.name}}"
                                   value="{{=status.id}}">
                            {{=status.name}}
                        </label>
                        {{pass}}
                    </li>
                    {{pass}}
                </ul>
            </div>
        </div>

        <div class="controls filter">
            <button type="submit" name="filtered" value="true" class="btn btn-success">Submit Filters</button>
        </div>
    </div>


</form>

<script>
    var __users_url__ = "{{=URL('users', 'index.json')}}";
</script>
<script src="{{=URL('static','js/search.js')}}"></script>
