{{if not request.vars.query or request.vars.query == "": }}
    Searching for <strong>everything</strong><!--
-->{{else:}}
    Searching for <strong>{{=request.vars.query}}</strong>
{{pass}}<!--
-->{{if request.vars.types:}}
    <!-- TODO: Fix this godawful hack -->
    of type <strong>{{=", ".join(map( lambda x: types[int(x)-1].name, request.vars.types))}}</strong><!--
-->{{pass}}<!--
-->{{if request.vars.user:}}
    from user <strong>{{=request.vars.user}}</strong><!--
-->{{pass}}<!--
-->{{if request.vars.min_value and request.vars.max_value and request.vars.min_value != "0" and request.vars.max_value != "0":}}
    worth between
    <strong>&pound;{{=request.vars.min_value}}</strong>
    -
    <strong>&pound;{{=request.vars.max_value}}</strong><!--
-->{{elif request.vars.max_value and request.vars.max_value != "0":}}
    worth less than
    <strong>&pound;{{=request.vars.max_value}}</strong><!--
-->{{elif request.vars.min_value and request.vars.min_value != "0":}}
    worth more than
    <strong>&pound;{{=request.vars.min_value}}</strong><!--
-->{{pass}}.
