{{extend 'layout.html'}}

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="list-group">
                <a href="{{=URL('search', 'index', vars={'query': request.vars.query, 'page': 'items'})}}"
                   class="list-group-item {{if page == 'items':}}active{{pass}}">
                    Items
                </a>
                <a href="{{=URL('search', 'index', vars={'query': request.vars.query, 'page': 'collections'})}}"
                   class="list-group-item {{if page == 'collections':}}active{{pass}}">
                    Collections
                </a>
                <a href="{{=URL('search', 'index', vars={'query': request.vars.query, 'page': 'users'})}}"
                   class="list-group-item {{if page == 'users':}}active{{pass}}">
                    Users
                </a>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Filter your search</h2>
                </div>
                <div class="panel-body">
                {{if page == 'items':}}
                    {{include 'search/_items_filters.html'}}
                {{elif page == 'collections':}}
                    {{include 'search/_collections_filters.html'}}
                {{pass}}
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">
                    {{if page == 'items':}}
                        {{include 'search/_items_header.html'}}
                    {{elif page == 'collections':}}
                        {{include 'search/_collections_header.html'}}
                    {{elif page == 'users':}}
                        {{include 'search/_users_header.html'}}
                    {{pass}}
                    </h2>
                </div>

            {{if page == 'items':}}
                <div class="panel-body">
                {{if len(results) == 0:}}
                    <strong>No results found.</strong>
                {{else:}}
                {{for chunk in chunks(results, 2):}}
                    <div class="row">
                    {{for result in chunk:}}
                        <div class="col-md-6">
                        {{print_object(result)}}
                        </div>
                    {{pass}}
                    </div>
                {{pass}}
                {{pass}}
                </div>
            {{elif page == 'collections':}}
            {{if len(results) == 0:}}
                <div class="panel-body">
                    <strong>No results found.</strong>
                </div>
            {{else:}}
            {{print_collections(results)}}
            {{pass}}
            {{elif page == 'users':}}
            {{if len(results) == 0:}}
                <div class="panel-body">
                    <strong>No results found.</strong>
                </div>
            {{else:}}
            {{print_users(results)}}
            {{pass}}
            {{pass}}
            </div>
        </div>
    </div>
</div>