{{breadcrumbs = [[URL('default', 'index'), 'Home'], ['Search']]}}
{{extend 'layout.html'}}

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            {{if page != 'users':}}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Filter your search</h2>
                    </div>
                    <div class="panel-body">
                        {{if page == 'items':}}
                        {{include 'search/_items_filters.html'}}
                        {{elif page == 'collections':}}
                        {{include 'search/_collections_filters.html'}}
                        {{pass}}
                    </div>
                </div>
            {{pass}}
        </div>
        <div class="col-sm-9">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="{{if page == 'items':}}active{{pass}}">
                    <a
                        href="{{=URL('search', 'index', vars={'query': request.vars.query, 'page': 'items'})}}"
                        aria-controls="users"
                        role="tab">
                        Items
                    </a>
                </li>
                <li role="presentation" class="{{if page == 'collections':}}active{{pass}}">
                    <a
                        href="{{=URL('search', 'index', vars={'query': request.vars.query, 'page': 'collections'})}}"
                        aria-controls="collections"
                        role="tab">
                        Collections
                    </a>
                </li>
                <li role="presentation" class="{{if page == 'users':}}active{{pass}}">
                    <a
                        href="{{=URL('search', 'index', vars={'query': request.vars.query, 'page': 'users'})}}"
                        aria-controls="users"
                        role="tab">
                        Users
                    </a>
                </li>
            </ul>
            <div class="clearfix">
                <div class="pull-left">
                    <h3>
                        {{if page == 'items':}}
                        {{include 'search/_items_header.html'}}
                        {{elif page == 'collections':}}
                        {{include 'search/_collections_header.html'}}
                        {{elif page == 'users':}}
                        {{include 'search/_users_header.html'}}
                        {{pass}}
                    </h3>
                </div>
                <div class="pull-right">
                    {{if page == 'items':}}
                    {{print_sortby()}}
                    {{pass}}
                </div>
            </div>

            {{if page == 'items':}}
                {{if len(results) == 0:}}
                <strong>No items found.</strong>
                <p>
                    Try searching for <a href="{{=URL('search', 'index', vars={'query': request.vars.query, 'page': 'collections'})}}">collections</a> or <a href="{{=URL('search', 'index', vars={'query': request.vars.query, 'page': 'users'})}}">users</a> instead.
                </p>

                {{else:}}
                {{for chunk in chunks(results, 2):}}
                <div class="row">
                    {{for result in chunk:}}
                    <div class="col-md-6">
                        {{print_object(result)}}
                    </div>
                    {{pass}}
                </div>
                {{pass}}
            {{pass}}
            {{elif page == 'collections':}}
                {{if len(results) == 0:}}
                <strong>No collections found.</strong>
                <p>
                    Try searching for <a href="{{=URL('search', 'index', vars={'query': request.vars.query, 'page': 'items'})}}">items</a> or <a href="{{=URL('search', 'index', vars={'query': request.vars.query, 'page': 'users'})}}">users</a> instead.
                </p>
                {{else:}}
                {{print_collections(results)}}
                {{pass}}
            {{elif page == 'users':}}
                {{if len(results) == 0:}}
                <strong>No users found.</strong>
                <p>
                    Try searching for <a href="{{=URL('search', 'index', vars={'query': request.vars.query, 'page': 'items'})}}">items</a> or <a href="{{=URL('search', 'index', vars={'query': request.vars.query, 'page': 'collections'})}}">collections</a> instead.
                </p>
                {{else:}}
                {{print_users(results)}}
                {{pass}}
            {{pass}}
        </div>
    </div>
</div>