{{breadcrumbs = [[URL('default', 'index'), 'Home'], [URL('collections', 'index'), 'My collections'], ['New item']]}}

{{extend 'layout.html'}}

<div class="container">
{{if form.errors:}}
    <div class="alert alert-warning" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close Alert</span>
        </button>
        <strong>Your submitted form contains the following errors</strong>
        <ul>
        {{for fieldname in form.errors:}}
            <li>{{=fieldname}} error: {{=form.errors[fieldname]}}</li>
        {{pass}}
        </ul>
    </div>
{{form.errors.clear()}}
{{pass}}

    <div class="panel panel-default">
        <header class="panel-heading">
            <h3 class="panel-title">Add Item</h3>
        </header>
        <main class="panel-body">
        {{=form.custom.begin}}

            <p class="text-info">
                Fields marked with an asterisk (*) are mandatory.
            </p>

            <!--name-->
            <div class="form-group">
                <label for="objects_name" class="mandatory">
                {{=form.custom.label.name}}
                </label>
            {{=form.custom.widget.name}}

                <p class="form-comment">
                {{=form.custom.comment.name}}
                </p>
            </div>

            <!--description-->
            <div class="form-group">
                <label for="objects_description">{{=form.custom.label.description}}</label>
            {{=form.custom.widget.description}}

                <p class="form-comment">
                {{=form.custom.comment.description}}
                </p>
            </div>

            <!--summary-->
            <div class="form-group">
                <label for="objects_summary">{{=form.custom.label.summary}}</label>

            {{=form.custom.widget.summary}}

                <div class="clearfix">
                    <div class="pull-left">
                        <p class="form-comment">
                        {{=form.custom.comment.description}}
                        </p>
                    </div>

                    <div class="pull-right">
                        Characters left: <span id="summary-length">100</span>
                    </div>
                </div>
            </div>

            <!--type-->
            <div class="form-group">
                <label for="objects_type">{{=form.custom.label.type_id}}</label>
                <select name="type_id" id="objects_type" class="form-control">
                {{for type in types:}}
                    <option value="{{=type.id}}">{{=type.name}}</option>
                {{pass}}
                </select>

                <p class="form-comment">
                {{=form.custom.comment.type_id}}
                </p>
            </div>

            <!--status-->
            <div class="form-group">
                <label for="objects_status">{{=form.custom.label.status}}</label>
                <br />
                <div
                    class="btn-group btn-group-justified btn-group-lg"
                    role="group"
                    aria-label="Item Status"
                    data-toggle="buttons">

                    <label class="btn btn-primary active wrapping" role="button">
                        <input type="radio" name="status" autocomplete="off" value="2" checked>
                        <strong>
                            <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>

                            Tradable
                        </strong>
                        <br />
                        <small>Tradable items can be traded for other items.</small>
                        </label>
                    </label>
                    <label class="btn btn-success wrapping" role="button">
                        <input type="radio" name="status" autocomplete="off" value="0">
                        <strong>
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>

                            Non-Tradable
                        </strong>
                        <br />
                        <small>Non-Tradable items cannot be in trades and cannot be asked for in a trade.</small>
                        </label>
                    </label>
                    <label class="btn btn-warning wrapping" role="button">
                        <input type="radio" name="status" autocomplete="off" value="1">
                        <strong>
                            <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>

                            In Wishlist
                        </strong>
                        <br />
                        <small>Wishlist items are items you do not own but would like to trade for.</small>
                        </label>
                    </label>
                </div>
            </div>

                        <!--collections-->
            <div class="form-group" id="collections">
                <label for="objects_collection">Collections</label>
                <br>
                <select id="objects_collection" multiple="multiple" name="collections">
                {{for collection in collections:}}
                    {{if collection.id == selected_collection:}}
                        <option value="{{=collection.id}}" selected="selected">{{=collection.name}}</option>
                    {{else:}}
                        <option value="{{=collection.id}}">{{=collection.name}}</option>
                    {{pass}}
                {{pass}}
                </select>
                {{get_new_col_modal()}}
            </div>
            <div id="errorcontainer"></div>

            <!--image-->
            <div class="form-group">
                <label for="objects_image">{{=form.custom.label.image}}</label>
            {{=form.custom.widget.image}}
                *A square image is strongly recommended, use the preview below to estimate any distortion to non-square images
                <p class="form-comment">
                {{=form.custom.comment.image}}
                </p>
            </div>
            <label>Preview:</label>
            <div id="preview" style="height:115px; width:115px; background-size:cover "></div>

            <!--value-->
            <div class="form-group">
                <label for="objects_value" class="mandatory">{{=form.custom.label.currency_value}}</label>

                <div class="input-group">
                    <span class="input-group-addon">&pound;</span>
                    <input type="number" name="currency_value" id="objects_value" class="form-control" min="0"
                           step="0.01" value="0.00">
                </div>

                <p class="form-comment">
                {{=form.custom.comment.currency_value}}
                </p>
            </div>

            <div class="pull-left">
                <a href="{{=URL('collections', 'index')}}" class="btn btn-danger">
                    Cancel
                </a>
            </div>

            <div class="form-group pull-right">
                <button type="submit" class="btn btn-success">
                    <span class="glyphicon glyphicon-floppy-open middle" aria-hidden="true"></span>
                    Add
                </button>
            </div>

        {{=form.custom.end}}
    </main>
    </div>
</div>

<script>
    var __collections_url__ = "{{=URL('collections', 'get.json')}}";
</script>
<script src="{{=URL('static','js/item.js')}}"></script>
