{{if object.status==0:}}
{{breadcrumbs = [[URL('default', 'index'), 'Home'], [URL('collections', 'index'), 'My collections'], ['Edit item']]}}
{{elif object.status==1:}}
{{breadcrumbs = [[URL('default', 'index'), 'Home'], [URL('item_lists', 'wish_list'), 'My wish list'], ['Edit item']]}}
{{elif object.status==2:}}
{{breadcrumbs = [[URL('default', 'index'), 'Home'], [URL('item_lists', 'for_trade'), 'My items for trade'], ['Edit item']]}}
{{pass}}

{{extend 'layout.html'}}

<div class="container">
    {{if form.errors:}}
    <div class="alert alert-warning" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close Alert</span>
        </button>
        <strong>Your submitted form contains the following errors:</strong>
        <ul>
            {{for fieldname in form.errors:}}
            <li>{{=fieldname}} error: {{=form.errors[fieldname]}}</li>
            {{pass}}
        </ul>
    </div>
    {{form.errors.clear()}}
    {{pass}}

    {{=form.custom.begin}}

    <div class="clearfix row-bottom-margin">
        <div class="pull-left">

        </div>
        <div class="pull-right">
            <button type="submit" name="delete" value="yes" class="btn btn-danger btn-block" aria-haspopup="true"
                    onclick="return confirm('Are you sure you want to delete this item? \n It will be removed from all collections.')">
                Delete
            </button>
        </div>
    </div>

    <div class="panel panel-default">
        <header class="panel-heading">
            <h3 class="panel-title">Edit Item <strong>{{=object.name}}</strong></h3>
        </header>
        <main class="panel-body">


            <em class="text-info">
                Fields marked with an asterisk (*) are mandatory.
            </em>

            <!--name-->
            <div class="form-group">
                <label for="objects_name" class="mandatory">{{=form.custom.label.name}}</label>
                {{=form.custom.widget.name}}

                <p class="form-comment">
                    {{=form.custom.comment.name}}
                </p>
            </div>

            <!--description-->
            <div class="form-group">
                <label for="objects_description">{{=form.custom.label.description}}</label>
                {{=form.custom.widget.description}}

                <p class="form-comment">
                    {{=form.custom.comment.description}}
                </p>
            </div>

            <!--summary-->
            <div class="form-group">
                <label for="objects_summary">{{=form.custom.label.summary}}</label>

                <textarea name="summary" id="objects_summary" cols="10" rows="5"
                          class="form-control">{{=object.summary}}</textarea>

                <div class="clearfix">
                    <div class="pull-left">
                        <p class="form-comment">
                            {{=form.custom.comment.description}}
                        </p>
                    </div>

                    <div class="pull-right">
                        Characters left: <span id="summary-length">100</span>
                    </div>
                </div>
            </div>

            <!--type-->
            <div class="form-group">
                <label for="objects_type">{{=form.custom.label.type_id}}</label>
                <select name="type_id" id="objects_type" class="form-control">
                    {{for type in types:}}
                    <option value="{{=type.id}}">{{=type.name}}</option>
                    {{pass}}
                </select>

                <p class="form-comment">
                    {{=form.custom.comment.type_id}}
                </p>
            </div>

            <!--status-->
            <div class="form-group">
                <label for="objects_status">{{=form.custom.label.status}}</label>
                <br />
                <div
                    class="btn-group btn-group-justified btn-group-lg"
                    role="group"
                    aria-label="Item Status"
                    data-toggle="buttons">


                    {{ if object.status == 2: }}
                    <label class="btn btn-primary active wrapping" role="button">
                        <input type="radio" name="status" autocomplete="off" value="2" checked>
                    {{ else: }}
                    <label class="btn btn-primary wrapping" role="button">
                        <input type="radio" name="status" autocomplete="off" value="2">
                    {{ pass }}
                        <strong>
                            <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>

                            Tradable
                        </strong>
                        <br />
                        <small>Tradable items can be traded for other items.</small>
                        </label>
                    </label>
                    {{ if object.status == 0: }}
                    <label class="btn btn-success active wrapping" role="button">
                        <input type="radio" name="status" autocomplete="off" value="0" checked>
                    {{ else: }}
                    <label class="btn btn-success wrapping" role="button">
                        <input type="radio" name="status" autocomplete="off" value="0">
                    {{ pass }}
                        <strong>
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>

                            Non-Tradable
                        </strong>
                        <br />
                        <small>Non-Tradable items cannot be in trades and cannot be asked for in a trade.</small>
                        </label>
                    </label>
                    {{ if object.status == 1: }}
                    <label class="btn btn-warning active wrapping" role="button">
                        <input type="radio" name="status" autocomplete="off" value="1" checked>
                    {{ else: }}
                    <label class="btn btn-warning wrapping" role="button">
                        <input type="radio" name="status" autocomplete="off" value="1">
                    {{ pass }}
                        <strong>
                            <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>

                            In Wishlist
                        </strong>
                        <br />
                        <small>Wishlist items are items you do not own but would like to trade for.</small>
                        </label>
                    </label>
                </div>
            </div>

            <!--collections-->
                <div class="form-group" id="collections" {{if object.status==1:}}style="display:none {{pass}}">
                <label for="objects_collection">Collections</label>
                <br>
                <select id="objects_collection" multiple="multiple" name="collections">
                    {{for collection in collections:}}
                    {{if collection.id in object_collections:}}
                    <option value="{{=collection.id}}" selected="selected">{{=collection.name}}</option>
                    {{else:}}
                    <option value="{{=collection.id}}">{{=collection.name}}</option>
                    {{pass}}
                    {{pass}}
                </select>
                {{get_new_col_modal()}}
            </div>
            <div id="errorcontainer"></div>
            <!--image-->
            <div class="form-group">
                <label for="objects_image">{{=form.custom.label.image}}</label>
                <input type="file" name="image" id="objects_image" class="form-control">
                *A square image is strongly recommended, use the preview below to estimate any distortion to non-square images
                <p class="form-comment">
                    {{=form.custom.comment.image}}
                </p>
            </div>
            <label>Preview:</label>
            <div id="preview" style="height:100px; width:100px; background-size: cover; background-image:url('{{=URL('default', 'download', args=object.image)}}')"></div>

            <!--value-->
            <div class="form-group">
                <label for="objects_value" class="mandatory">{{=form.custom.label.currency_value}}</label>

                <div class="input-group">
                    <span class="input-group-addon">&pound;</span>
                    <input type="number" name="currency_value" id="objects_value" class="form-control" min="0"
                           step="0.01" value="{{=form.custom.inpval.currency_value}}" required>
                </div>

                <p class="form-comment">
                    {{=form.custom.comment.currency_value}}
                </p>
            </div>

            <div class="form-group clearfix">
                <div class="pull-left">
                    <a href="{{=URL('items', 'show', args=object.id)}}" class="btn btn-default" role="button">
                        Cancel
                    </a>
                </div>
                <button type="submit" class="btn btn-success pull-right">
                    <span class="glyphicon glyphicon-floppy-save middle" aria-hidden="true"></span>
                    Save
                </button>
            </div>


        </main>
    </div>
    {{=form.custom.end}}
</div>

<script>
    var __collections_url__ = "{{=URL('collections', 'get.json')}}";
</script>
<script src="{{=URL('static','js/item.js')}}">

</script>
