{{owner = item.owner()}}
{{if item.status==1:}}
        {{if is_owner:}}
            {{breadcrumbs = [[URL('default', 'index'), 'Home'], [URL('item_lists', 'wish_list'), 'My wishlist'], ['View item']]}}
        {{else:}}
            {{breadcrumbs = [[URL('default', 'index'), 'Home'], [URL('item_lists', 'wish_list', vars=dict(user_id=owner.id)), owner.username + '\'s wishlist'], ['View item']]}}
        {{pass}}
{{else:}}
    {{if not item.collections:}}
        {{if is_owner:}}
            {{breadcrumbs = [[URL('default', 'index'), 'Home'], [URL('collections', 'index'), 'My collections'],['View item']]}}
        {{else:}}
            {{breadcrumbs = [[URL('default', 'index'), 'Home'], [URL('collections', 'index'), owner.username + '\'s collections'], ['View item']]}}
        {{pass}}
    {{else:}}
        {{if len(item.collections())==1:}}
            {{col = item.collections()[0]}}
            {{if is_owner:}}
                {{breadcrumbs = [[URL('default', 'index'), 'Home'], [URL('collections', 'index'), 'My collections'], [URL('collections', 'show', args=col.id), col.name], ['View item']]}}
            {{else:}}
                {{breadcrumbs = [[URL('default', 'index'), 'Home'], [URL('collections', 'index'), owner.username + '\'s collections'],['View item']]}}
            {{pass}}
        {{else:}}
            {{if is_owner:}}
                {{breadcrumbs = [[URL('default', 'index'), 'Home'], [URL('collections', 'index'), 'My collections'], ['Multiple collections'], ['View item']]}}
            {{else:}}
                {{breadcrumbs = [[URL('default', 'index'), 'Home'], [URL('collections', 'index'), owner.username + '\'s collections'], ['Multiple collections'], ['View item']]}}
            {{pass}}
        {{pass}}
    {{pass}}
{{pass}}
{{extend 'layout.html'}}
<div class="container">
    <div class="row row-bottom-margin">
        <div class="col-xs-6">
            <h2 style="display: inline;">
                {{=item.name}}
            </h2>
            <div class="item-status">
                {{ if item.status == 0: }}
                    <span
                        class="object-status not-for-trade"
                        data-toggle="tooltip"
                        title="This item is in {{= 'your' if owner.id == auth.user_id else owner.username + '\'s'}} collection, but is not for trade!">
                        <span class="glyphicon glyphicon-tag middle" aria-hidden="true"></span> Non-Tradable
                    </span>
                {{ elif item.status == 1: }}
                    <span
                        class="object-status on-wishlist"
                        data-toggle="tooltip"
                        title="This item is on {{= 'your' if owner.id == auth.user_id else owner.username + '\'s'}} wishlist!">
                        <span class="glyphicon glyphicon-heart middle" aria-hidden="true"></span> Wishlist Item
                    </span>
                {{ elif item.status == 2: }}
                    {{ if item.in_trade:}}
                        <span
                            class="object-status in-trade"
                            data-toggle="tooltip"
                            title="This item is currently in a trade, but you can add it to your wishlist for when it becomes available!">
                            <span class="glyphicon glyphicon-tag middle" aria-hidden="true"></span> Currently In Trade
                        </span>
                    {{else:}}
                        <span
                            class="object-status for-trade"
                            data-toggle="tooltip"
                            title="This item is up for trade!">
                            <span class="glyphicon glyphicon-tag middle" aria-hidden="true"></span> Tradable
                        </span>
                    {{ pass }}
                {{ pass }}
            </div>
        </div>
        <div class="col-xs-6">
            <div class="pull-right">
            {{if not is_owner:}}
                <a href="{{=URL('items', 'wish', args=item.id)}}" class="btn btn-warning" role="button">
                    <span class="glyphicon glyphicon-heart middle" aria-hidden="true"></span>
                    Add to My Wish List
                </a>
            {{pass}}
            {{if is_owner:}}
                <a href="{{=URL('items', 'edit', args=item.id)}}" class="btn btn-success" role="button">
                    <span class="glyphicon glyphicon-edit middle" aria-hidden="true"></span>
                    Edit
                </a>
            {{pass}}
            {{if (not is_owner) & (item.status == 2) & (not item.in_trade):}}
                <a href="{{=URL('trade', 'new', vars={"item_id": item.id})}}" class="btn btn-default for-trade">
                    <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
                    Trade for this item
                </a>
            {{pass}}
            </div>
        </div>
    </div>
    <row>
        <div class="col-xs-5">
        {{if item.image:}}
            <img alt="{{=item.name}}" src="{{=URL('default', 'download', args=item.image)}}" height="400"/>
        {{else:}}
            <img alt="{{=item.name}}" src="http://cumbrianrun.co.uk/wp-content/uploads/2014/02/default-placeholder.png" height="400"/>
        {{pass}}
        </div>
        <div class="col-xs-7">
            <strong>Summary</strong>
            <p>
            {{=item.summary}}
            </p>
            <ul class="list-unstyled">
                <li><strong>Type:</strong> {{=item.type().name}}</li>
                <li><strong>Value:</strong> &pound;{{="{:0,.2f}".format(item.currency_value)}}</li>
            {{if not is_owner:}}
                <li>
                    <strong>Owner:</strong> <a href="{{=URL('collections', 'index', args=user.id)}}">{{=user.username}}</a>
                </li>
            {{pass}}
                <li>
                    <strong>Collections:</strong>
                {{if not item.collections():}}
                    None assigned
                {{pass}}
                {{for col in item.collections():}}
                    <a href="{{=URL('collections', 'show', args=col.id)}}">{{=col.name}}</a>&nbsp;
                {{pass}}
                </li>
                <li>
                    <strong>Owner: <a href="{{=URL('collections', 'index', args=owner.id)}}">{{=owner.username}}</a></strong>
                </li>
            </ul>

            <strong>Description:</strong>

            <p>
            {{=item.description}}
            </p>
        </div>
    </row>


</div>
