{{extend 'layout.html'}}
        
<div class="container">
    <div class="clearfix">
        <div class="pull-left">
            <h2>
            {{if is_want:}}
                Want items
            {{else:}}
                Have items
            {{pass}}
                <small>
                    by
                    <a href="{{=URL('collections', 'index', args=user_id)}}">
                    {{=username}}
                    </a>
                </small>
            </h2>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
        {{print_sortby()}}
            <div class="row">
            {{for item in items:}}
                <div class="col-xs-4 object-wrapper">
                {{print_object(item, False)}}
                </div>
            {{pass}}
            </div>
        </div>
    </div>
</div>